.game {
  margin: 0 auto;
}

.body {
  display: flex;
  border: thin solid #ddd;
  min-height: 500px;
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.help {
  color: #666;
  margin: 10px;
  text-align: center;
}

.left {
  text-align: center;
  height: auto;
  align-items: center;
  justify-content: center;
}

.right {
  text-align: center;
  padding: 10px;
}

.star {
	display: inline-block;
  margin: 30px;
}

.star:after {
  content: "\2605";
  font-size: 60px;
}

.number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 25px;
}

.number:focus, .number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
	color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}
